* {
    font-family: Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #5AB2FF;
    color: #FFF9D0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.icon {
    width: 64px;
}

.col-p {
    display: flex;
    flex-wrap: 2;
    flex-direction: column;
    
}

textarea {
    width: 20vw;
    height: 300px;
    font-size: 1rem;
    background-color: transparent;
    border: transparent;
    resize: none;
    box-sizing: border-box;
}

textarea:focus {
    border: none; 
    outline: none; 
}

.btn-group {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.btn {
    background-color: #5AB2FF;
    color: #FFF9D0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 13px;
    width: 120px;
    height: 50px;
    text-align: center;
}

.btn:hover {
    background-color: transparent;
    outline: solid #5AB2FF;
    color: #5AB2FF;
}

.col-r {
    width: 20vw;
    height: 70vh;
    background-color: #5AB2FF;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#TextResultado {
    flex: 1;
}




